{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block Navbar %}
<nav class="nav">
    <div class="nav-brand">
        <img src="{{ url_for('static', filename='icon/m-black.png')}}" alt="m black logo" width="10%"/>
        <h1>THE MAZE</h1>
    </div>
    <div class="nav-link">
        <ul>
            <li>
                <a href="#">
                    About Us
                </a>
            </li>
            <li>
                <a href="#">
                    Games
                </a>
            </li>
            <li>
                <a href="#">
                    Community
                </a>
            </li>
            <li>
                <a href="#">
                    Support
                </a>
            </li>
            <li>
                <a href="#">
                    FAQs
                </a>
            </li>
        </ul>
    </div>
    <div class="nav-button">
        <button class="btn-dark">
            Download
        </button>
        <button class="btn-light">
            Log In
        </button>
    </div>
</nav>
{% endblock %}

{% block Main %}
<div class="heroe-section">
    <h1 class="lead">Embark on an<br> immersive journey<br> through labyrinthine<br> worlds.</h1>
    <p>Experience the thrill pf dynamic maze generation and uncover new <br> discovery at every turn.</p>
    <div class="btn-action">
        <button class="btn-light">
            Download
        </button>
        <button class="btn-dark">
            Learn More
        </button>
    </div>
</div>
<div class="features">
    <div class="col-text">
        <h1 class="lead">Experience the Unpredictable<br>Dynamic Maze Generation<br>For Endless Adventure.</h1>
        <p>With our unqinue dynamic maze generation feature, no two games are ever<br> the same. Prepare for an immersive experience filled with excitement and <br> surprises at every turn.</p>
        <div class="feature-section">
            <div class="feature-01">
                <img src="{{ url_for('static', filename='icon/m-black.png')}}" alt="maze logo" width="20%">
                <h2>Unleash Adventure</h2>
                <p>
                    Explore captivating maze that challenge<br>
                    your skills and keep you engaged from<br>
                    start to finish.
                </p>
            </div>
            <div class="feature-02">
                <img src="{{ url_for('static', filename='icon/m-black.png')}}" alt="maze logo" width="20%">
                <h2>Unleash Adventure</h2>
                <p>
                    Embrace on an adventure where each <br>
                    maze holds secrets waiting to be <br>
                    uncovered.
                </p>
            </div>
        </div>
    </div>
    <div class="col-img">
        <img src="{{ url_for('static', filename='img/maze.jpg')}}" alt='features' width="60%"/>
    </div>
</div>
{% endblock %}
{% block Footer %}
    <!-- <p>&copy;2024 Joseph Akaro, All rights Reservered.</p> -->
{% endblock %}
