* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    background-color: black;
    color: white;

    font-family: "Jaro", sans-serif;
    font-size: 18px;

}

a{
    text-decoration: none;
    color: white;
}

input{
    font: 1em "Jaro", sans-serif;
}

button{
    cursor: pointer;

    font-size: large;
    font-weight: 400;

    border: none;

    padding: 5px;

    border-radius: 5px;
}

h1{
    font-weight: 600;
    font-size: 24px;
}

li{
    list-style-type: none;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

body{
    width: 100%;
    height: 100%;
}


nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1em;

    border-bottom: 1px solid white;

    padding: 10px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 1em;
}


.icon{
    color: white;
}

.container-form{
    width: 350px;
    height: 400px;

    border: 2px solid white;
    border-radius: 5px;

    padding: 20px;

    margin: 100px auto;
}

.btn-form,
.input-form{
    width: 300px;
    height: 35px;
    background-color: whitesmoke;
    color: gray;

    border: none;
    border-radius: 5px;
}

.input-form{
    padding-left: 5px;
}

.btn-form:hover{
    color: black;
    background-color: gray;
}

.form-link{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 3em;
}


.nav-link{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 1em;
}

.nav-brand{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.btn-light{
    border: 1px solid white;
    color: black;
    background-color: white;
}

.btn-dark{
    border: 1px solid white;
    color: white;
}


.heroe-section{
    width: 100%;
    height: 90dvh;
    margin: 20px auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    gap: 2em;

    padding-left: 50px;
    padding-top: 20px;
}

.btn-action{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    gap: 1em;
}

.lead{
    font-size: 35px !important;
}


.features{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 2em;

    width: 100%;
}

.col-text,
.col-img{
    padding: 0px 50px;
}

.feature-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    gap: 1em;
}

.col{
    width: 100%;
    height: 100dvh;
}

.row{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1em;

    width: 100dvw;
}

.feature-01,
.feature-02{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    gap: 1em;

    width: 100%;
}

.col-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    
    gap: 1em;

    width: 100%;
}

.col-img{
    display: flex;
    justify-content: flex-end;
    align-items: center;

    width: 100%;
}


.profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 10px;
}

.profile p{
    opacity: 50%;
}

.profile img{
    width: 15%;
    height: 15%;
    border-radius: 50%;

    border: 1px solid white;
}

.row h3{
    width: 60%;
    text-align: center;
}

.col-profile{
    height: 50dvh;
}

.subscribe{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    gap: 1em;
}

.subscribe input{
    width: 300px;
    height: 35px;

    border: 1px solid white;
    border-radius: 5px;

    color: black;
    background-color: white;

    padding-left: 5px;
}

.faqs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    gap: .5em;

    width: 100%;


    padding: 50px;

    height: 100dvh;

    margin-bottom: 200px;

    margin-top: 200px;
}

.col-faq{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1;

    gap: .5em;
}

.col-questions{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1;

    gap: .5em;
}

.box{
    border: 1px solid white;
    padding: 20px;
}


.footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    width: 100%;
}

.footer-menu{
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: flex-start;

    gap: 4em;

    width: 100%;

    padding: 50px;


    border-bottom: 2px solid white;
}

.footer-subscribe{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1em;

    flex: 1;
}

.footer-links{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: flex-start;

    flex: 3;

    width: 100%;

    gap: 250px;
}

.Company,
.Community,
.Socials{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    gap: 10px;
}

.footer-rights{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    gap: 100px;

    width: 100%;

    padding: 50px;
}

.footer-terms{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 1em;

    text-decoration: underline;
}