<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="image/png" href="{{ url_for('static', filename='icon/m-white')}}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}"  />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap" rel="stylesheet">
    <title>The Maze - {% block title %} {% endblock %}</title>
</head>
<body>
    {% block Navbar %}{% endblock %}
    {% block Main %}{% endblock %}
</body>
<footer>
    {% block Footer %}{% endblock %}
</footer>
    <script rel="script" type="text/js" href="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</html>